<%= form_tag change_resource_admin_comment_path(comment), :method => :put do %>

  <h2> <%= t(:form_change_resource) %> </h2>

  <p> <%= t(:form_change_resource_desc) %> </p>

  <p>
    <h4><%= t(:where_to_move_comment) %></h4>

    <%= hidden_field_tag 'resource_type', 'Spree::Product', :id => 'change-resource-product' %>
    <%= t(:product) %>

    <br>
    <%= select_tag 'product_resource_id', options_from_collection_for_select(Spree::Product.order('name'), "id", "name"), :prompt => 'None', :class => 'change-resource-select', :id => 'product-select' %>
  </p>
  <%= submit_tag t("update") %> <%= t('or') %> <%= link_to t('cancel'), collection_url %>
<% end %>
