<%= render :partial => 'spree/admin/shared/post_tabs', :locals => {:current => "Post Details"} %>

<% if @comment.try(:errors).present? %>
  <%= render 'spree/shared/error_messages', :target => @comment %>
<% end %>

<%= render :partial => 'change_resource', :locals => {:comment => @comment} %>


<%= form_for([:admin, @comment]) do |f| %>
  <%= render "form", :form => f %>
  <p class="form-buttons">
    <%= button t("update") %> <%= t('or') %> <%= link_to t('cancel'), collection_url %>
  </p>
<% end %>
