<div class='toolbar'>
  <ul class='actions'>
    <li>
      <p><%= button_link_to "Новый комментарий", new_admin_comment_url, :icon => 'add' %></p>
    </li>
  </ul>
  <br class='clear' />
</div>
<h1><%= t("activerecord.attributes.comment.comments_listing") %></h1>
<a href="comments<%= (params[:num].present? ? '' : '?num=all' ) %>" style="float:right; margin: 1em ;"><%= (params[:num].present? ? 'Показать постранично' :  'Показать все' ) %></a>
<table class="index">
  <thead>
  <tr>
      <th><%= sort_link @search, :author, t("activerecord.attributes.comment.author") %></th>
      <th><%= sort_link @search, :comment,  t("activerecord.attributes.comment.comment") %></th>
      <th><%= sort_link @search, :city, t("activerecord.attributes.comment.city") %></th>
      <th><%= sort_link @search, :created_at, t("activerecord.attributes.comment.created_at") %></th>
      <th><%= sort_link @search, :approve, t("activerecord.attributes.comment.approve") %></th>
      <th><%= t("action") %></th>
  </tr>
  </thead>
  <tbody>
    <%- @collection.each do |comment|%>
    <tr id="<%= dom_id comment %>">
      <td><%= comment.author %></td>
      <td>
        <div class="short_comment"><%= link_to comment.comment.truncate(100, :omission => '...'), object_url(comment) %></div>
        <div class="full_comment"><%= link_to comment.comment, object_url(comment) %></div>
      </td>
      <td><%= comment.city %></td>
      <td><%= l comment.created_at, :format => :date_time %></td>
      <td><%= comment.approve ? 'Да' : "Нет" %><br>
        <%= link_to (comment.approve ? 'Не одобрить' : 'Одобрить'), "comments/approve/#{comment.id}/#{comment.approve}" %>
      </td>
      <td>
        <%= link_to_edit comment %> &nbsp;
        <%= link_to_delete comment %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @collection %>
<a href="comments<%= (params[:num].present? ? '' : '?num=all' ) %>" style="float:right; margin: 1em ;"><%= (params[:num].present? ? 'Показать постранично' :  'Показать все' ) %></a>

<% content_for :sidebar do %>
  <button name="button" id="showFull" type="submit" style="font-size:12px"><span>Показать полный текст комментариев</span></button>
  <div class="box">
    <h3><%= t(:search) %></h3>
    <%= search_form_for [:admin, @search] do |f| %>
      <p>
        <%= f.label :author_cont, t("activerecord.attributes.comment.author") %><br />
        <%= f.text_field :author_cont, :size => 25 %>
      </p>
      <p>
        <%= f.label :comment_cont, t("activerecord.attributes.comment.comment") %><br />
        <%= f.text_field :comment_cont, :size => 25 %>
      </p>
      <p>
        <%= f.label :city_cont, t("activerecord.attributes.comment.city") %><br />
        <%= f.text_field :city_cont, :size => 25 %>
      </p>
      <p><%= button t("search") %></p>
    <% end %>

<% end %>